/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 @import "stylesheets/mixins.css";
 */

.card-body {
  display: flex;
  background-color: #65b0ec;
  margin-top: 20px;
  margin-left: 25%;
  border-color: black;
  flex-flow: column;
  justify-content: center;
  height: 25%;
  width: auto;
}

.card {
  display: flex;
  justify-content: center;
  width: 25%;
  height: auto;
  margin-left: 35%;
  margin-top: 5%;
}

.card-show {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  background-color: #7fbbec;
  width: auto;
  height: 50px;

}

.links {

  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 5%;
}


nav {
  width: auto;
  height: 70px;
  margin-bottom: 40px;
}

.formulaire {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

.signup-password {
  display: flex;
  justify-content: center;
}

.signup {
  margin-right: 50px;
}

.btn_back{
  margin-top: 10px;
}
